/* Site Header */
.site-header {
  background-color: white;
}

/* Stie Nav */
.sitenav-list {
  list-style: none;
}

.sitenav-items {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* Main Link */
.main-link {
  font-size: 13px;
  line-height: 15px;
  background-color: #FF7500;
  color: white;
  text-decoration: none;
}

/* Hero */
.hero {
  background-color: #252420;
  color: white;

}

.hero-content {
  width: 390px;

}

.hero-img {
  width: 510px;
  height: 510px;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}

.hero-heading {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
}

.hero-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

/* Features */

.features-heading {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.feature {
  width: 340px;
}

.feature-wrapper-icon {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
}

.feature-info {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}


/* Promo */
.promo {
  background-color: rgba(37, 36, 32, 1);
  color: white;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.promo-text {
  font-size: 16px;
  line-height: 1.5;
}

.promo-highlight {
  color: #FF7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}


/* Site Footer */
.site-footer {
  background-color: #F8F8F8;
}

.site-footer ul {
  list-style: none;
}

.site-footer-divider {
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);

}

.site-footer-links {
  width: 224px;
}

.site-footer-links a {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #252420;

}