/* Body */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial",  sans-serif;
  /* font-family: 'Roboto Condensed', sans-serif; */
  letter-spacing: 0.5px;
}

/* Site Header */
.site-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo-link {
  transition: opacity 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.site-header-actions {
  display: flex;
  align-items: center;
}

/* Stie Nav */
.sitenav-list {
  list-style: none;
  display: flex;

}

.sitenav-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}

.sitenav-link:hover {
  color: #FF7500;
}

.sitenav-link:active {
  opacity: 0.6;
}

/* Main Link */
.main-link {
  font-size: 13px;
  line-height: 15px;
  background-color: #FF7500;
  color: white;
  text-decoration: none;
  transition: opasity 0.4 ease;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}



/* Hero */
.hero {
  background-color: #252420;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.hero-content {
  width: 390px;

}

.hero-img {
  width: 510px;
  height: 510px;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial",  sans-serif;

}



/* Features */

.features-heading {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", "Roboto", "Arial",  sans-serif;
}

.features-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.feature {
  width: 340px;
}

.feature-wrapper-icon {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title {
  font-size: 24px;
  line-height: 120%;
  font-family: "Roboto Condensed", "Roboto", "Arial",  sans-serif;
}


/* Promo */
.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(37, 36, 32, 1);
  color: white;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed", "Roboto", "Arial",  sans-serif;
}


.promo-highlight {
  color: #FF7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}


/* Site Footer */
.site-footer {
  background-color: #F8F8F8;
}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer ul {
  list-style: none;
}

.site-footer-socials {
  display: flex;
  align-items: center;

}

.site-footer-socials a {
  color: #252420;;
}

.site-footer-socials a:hover {
  color: #FF7500;
}

.site-footer-socials a:active {
 opacity: 0.6;
}

.site-footer-divider {
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);

}

.site-footer-bottom {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
}

.site-footer-links {
  width: 224px;
  line-height: 19px;
}

.site-footer-links a {
  text-decoration: none;
  color: #252420;

}

.site-footer-links a:hover {
  color: #FF7500;
}

.site-footer-links a:focus {
  opacity: 0.6;
}